html {
  box-sizing: border-box;
  background-color: lightgray;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: lightgray;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 5rem;
  margin-right: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 0;
}

a {
  background-color: #444;
  color: #ccc;
  padding: .5rem;
  text-decoration: none;
  margin-left: 1.5rem;
}

section li h3 {
  margin-left: 1.5rem;
}

section li h4 {
  margin-left: 1.5rem;
}

section li p {
  padding-left: .5rem;
  display: flex;
}
